node_modules
.env
.DS_Store
/dist
/prisma/dev.db
brief.md

api/uplods/*
api/processed/*
worker/uplods/*
worker/processed/*

# Keeping directories but ignoring contents
!api/uploads/.gitkeep
!api/processed/.gitkeep
!worker/uploads/.gitkeep
!worker/processed/.gitkeep