version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: video_pg 
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: video_system
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  
  redis:
    image: redis:7
    container_name: video_redis 
    restart: always 
    ports:
      - "6379:6379"
  
  api:
    build: ./api
    container_name: video_api
    ports:
      - "5000:5000"
    env_file:
      - ./api/.env
    depends_on:
      - postgres
      - redis
    volumes:
      - ./api:/usr/src/app


volumes:
  pgdata: