version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: video-pg 
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: video-system
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  
  redis:
    image: redis:7
    container_name: video-redis 
    restart: always 
    ports:
      - "6379:6379"

volumes:
  pgdata: